@page "/FA"
<div>
    <img src="fa.jpg" style="width: 5%;height: 70px; float:left; margin-top:-10px "  />    
<h1><center>PUCHAR ANGLII 2021/2022</center></h1>
   </div>
    <hr />
    <h3><center>1/32 FINAŁU</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Liverpool<span style="color: green"><b> 4 - 1 </b></span>Shrewsbury</center>
        <hr />
    </div>
    <hr />
    <h3><center>1/16 FINAŁU</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Liverpool<span style="color: green"><b> 3 - 1 </b></span>Cardiff</center>
        <hr />
    </div>
    <hr />
    <h3><center>1/8 FINAŁU</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Liverpool<span style="color: green"><b> 2 - 1 </b></span>Norwich</center>
        <hr />
    </div>
    <hr />
    <h3><center>ĆWIERĆFINAŁ</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Nottingham<span style="color: green"><b> 0 - 1 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h3><center>PÓŁFINAŁ</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Manchester City<span style="color: green"><b> 2 - 3 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h3><center>FINAŁ</center></h3>
    
    <div>
        
        Mecz 1/1:
        <center>Liverpool<span style="color: black"><b>  -  </b></span>Chelsea Londyn</center>
        <hr />
    </div>
    @code {

    }
