@page "/"

<h3><marquee behavior="scroll" direction="left">Witaj na FANPAGE</marquee> </h3>
<hr />
<h1><center>LIVERPOOL F.C.</center></h1>
<hr />
<div>Liverpool Football Club  – angielski klub piłkarski z siedzibą w Liverpoolu. W sezonie 2021/2022 jego pierwsza drużyna występuje w Premier League. 19-krotnie zostawał mistrzem Anglii, 7-krotnie zdobywał Puchar Anglii oraz 9-krotnie Puchar Ligi Angielskiej. Ponadto 6-krotnie wygrywał rozgrywki Pucharu Europy lub Ligi Mistrzów, co jest najlepszym osiągnięciem wśród wszystkich angielskich klubów. Pod względem liczby triumfów w Pucharze Europy lub Lidze Mistrzów ustępuje jedynie hiszpańskiemu Realowi Madryt (13 zwycięstw) i włoskiemu Milanowi (7 zwycięstw).</div>

<div>Liverpool F.C. został założony w 1892. Od 1900 do 1947, pięć razy zostawał mistrzem Anglii. Pod koniec lat 50., przez kilka sezonów grał na drugim szczeblu rozgrywek i do czasu zatrudnienia Billa Shankly’ego w 1959, nie awansował do pierwszej ligi. Klub tradycyjnie grał w strojach czerwono-białych, jednak w latach 60. usunięto barwę białą.</div>

<div>
    Pod wodzą Shankly’ego Liverpool trzykrotnie wygrywał rozgrywki ligowe, dwa razy zdobył Puchar Anglii oraz jeden raz Puchar UEFA (było to pierwsze europejskie trofeum wywalczone przez klub). Od 1977 do 1984 roku, czterokrotnie wygrywał Puchar Europy. W latach 90., zespół zanotował spadek formy, jednak w roku 2001, zdobył małą potrójną koronę, zaś cztery lata później wygrał rozgrywki Ligi Mistrzów.
</div>

<div>
    Zamieszki na Heysel otoczyły klub ponurą sławą – 39 kibiców, w tym 32 włoskich fanów Juventusu, czterech Francuzów, dwóch Belgów i kibic z Irlandii Północnej zostało przygniecionych przez ścianę, która zawaliła się z powodu naporu tłumu. Mimo rażących zaniedbań ze strony organizatorów spotkania, całkowitą odpowiedzialnością za tragedię obciążono kibiców drużyny angielskiej. Cztery lata później wydarzyła się inna tragedia. Na stadionie Hillsborough, 96 fanów Liverpoolu zostało przygniecionych przez inne osoby. Z tego powodu do herbu klubu zostały dodane dwa płomienie. Obydwie katastrofy miały duże znaczenie zarówno dla angielskiej, jak i europejskiej piłki nożnej, przyczyniając się m.in. do zmian przepisów prawa o imprezach masowych oraz podniesienia standardów bezpieczeństwa organizacji spotkań piłkarskich.
</div>

<div>
    Od czasu powstania, Liverpool F.C. rozgrywa swoje mecze domowe na Anfield, choć rozważano przenosiny do sąsiedniego Stanley Park. Pomysł budowy nowego stadionu został jednak zaniechany, gdyż zdecydowano się na rozbudowę dotychczasowego obiektu.
</div>

<div>
    Liverpool ma wielu kibiców na całym świecie. Tradycyjnymi rywalami są Manchester United i Everton.
</div>

<div>
    Drużyna bywa często, szczególnie w Polsce, mylnie określana jako F.C. Liverpool, podczas gdy pełna nazwa drużyny brzmi Liverpool Football Club, a więc Liverpool F.C.
</div>

<div>Liverpool jest klubem o marce globalnej, wycenianym w 2019 na 2,183 mld dolarów przez magazyn Forbes, co plasuje go na ósmym miejscu w światowym rankingu klubów piłkarskich. Przychód za sezon 2018-2019 wyniósł 604,7 mln euro, plasując pod tym względem klub na siódmym miejscu na świecie.</div>
<hr />

<h1><center>HYMN</center></h1>
<hr />
Hymnem The Reds jest przebój musicalowy Oscara Hammersteina II i Richarda Rogersa noszący nazwę<a href="https://www.youtube.com/watch?v=Go-jJlGd1so&ab_channel=patdemsey"> You’ll Never Walk Alone.</a> W latach sześćdziesiątych utwór ten wykonywał rockowy zespół z Liverpoolu – Gerry & the Pacemakers. Obecnie jest on śpiewany przez fanów The Reds w tej właśnie wersji. Na Anfield zaczęto go nucić tuż po owym nagraniu. Na przełomie lat osiemdziesiątych i dziewięćdziesiątych, po tragedii na Hillsborough, stał się oficjalnym hymnem Liverpool FC, a jego tytuł został umieszczony na herbie klubu i nad bramą wejściową Anfield Rd Stand o nazwie: „Shankly Gates”.
<hr />

<h1><center>HERB</center></h1>
<hr />
<div>Herb Liverpoolu w swej obecnej postaci powstał w 1999 roku i ma bardzo ciekawą historię oraz symbolikę. Mianowicie jest złożony z kilku elementów, z których każdy ma inne znaczenie, a wszystkie łączy jedno – miasto Liverpool.</div>
<div>Centralny punkt herbu to Liverbird (mityczna istota stworzona w XIII wieku, będąca połączeniem kormorana i orła), uznawany za patrona portu w Liverpoolu. Legenda mówi, że kiedy stwór odleci, miasto przestanie istnieć. Zaadaptowany do herbu klubu przez kibiców ma symbolizować pochodzenie klubu i w specyficzny sposób być także wizytówką miasta.</div>
<div>Drugim elementem herbu Liverpoolu jest fragment Shankly Gate, jednej z bram stadionu Anfield, powstałej 26 sierpnia 1982 roku i poświęconej trenerskiej legendzie klubu – Billowi Shankly’emu. Fragment ten, obok ozdobnych zawijasów zawiera w sobie małą tarczę z Liverbirdem, poniżej której znajdują się dwa szkockie symbole – flaga i oset, będące nawiązaniem do kraju pochodzenia Shankly’ego. Całość kompozycji osadzona jest na podłużnym prostokącie z tytułem hymnu The Reds – You’ll Never Walk Alone.</div>
<div>Ostatnim, ale równie istotnym elementem obecnego herbu Liverpool FC jest wstęga z dwoma płomieniami oraz datą powstania klubu. Płomienie symbolizują tragiczne wydarzenia z 1989 roku, śmierć 96 kibiców klubu podczas tragedii na stadionie Hillsborough w Sheffield.</div>
<div>Połączenie tych elementów dało jeden z najbardziej rozpoznawalnych herbów klubowych na świecie. Jest symbolem drużyny, która od wielu lat zaliczana jest do światowej elity klubów piłki nożnej.</div>


