@page "/"

<h3><marquee behavior="scroll" direction="left">Witaj na FANPAGE</marquee> </h3>
<hr />
<h1><center>LIVERPOOL F.C.</center></h1>
<hr />
<div>Liverpool Football Club  – angielski klub piłkarski z siedzibą w Liverpoolu. W sezonie 2021/2022 jego pierwsza drużyna występuje w Premier League. 19-krotnie zostawał mistrzem Anglii, 7-krotnie zdobywał Puchar Anglii oraz 9-krotnie Puchar Ligi Angielskiej. Ponadto 6-krotnie wygrywał rozgrywki Pucharu Europy lub Ligi Mistrzów, co jest najlepszym osiągnięciem wśród wszystkich angielskich klubów. Pod względem liczby triumfów w Pucharze Europy lub Lidze Mistrzów ustępuje jedynie hiszpańskiemu Realowi Madryt (13 zwycięstw) i włoskiemu Milanowi (7 zwycięstw).</div>

<div>Liverpool F.C. został założony w 1892. Od 1900 do 1947, pięć razy zostawał mistrzem Anglii. Pod koniec lat 50., przez kilka sezonów grał na drugim szczeblu rozgrywek i do czasu zatrudnienia Billa Shankly’ego w 1959, nie awansował do pierwszej ligi. Klub tradycyjnie grał w strojach czerwono-białych, jednak w latach 60. usunięto barwę białą.</div>

<div>
    Pod wodzą Shankly’ego Liverpool trzykrotnie wygrywał rozgrywki ligowe, dwa razy zdobył Puchar Anglii oraz jeden raz Puchar UEFA (było to pierwsze europejskie trofeum wywalczone przez klub). Od 1977 do 1984 roku, czterokrotnie wygrywał Puchar Europy. W latach 90., zespół zanotował spadek formy, jednak w roku 2001, zdobył małą potrójną koronę, zaś cztery lata później wygrał rozgrywki Ligi Mistrzów.
</div>

<div>
    Zamieszki na Heysel otoczyły klub ponurą sławą – 39 kibiców, w tym 32 włoskich fanów Juventusu, czterech Francuzów, dwóch Belgów i kibic z Irlandii Północnej zostało przygniecionych przez ścianę, która zawaliła się z powodu naporu tłumu. Mimo rażących zaniedbań ze strony organizatorów spotkania, całkowitą odpowiedzialnością za tragedię obciążono kibiców drużyny angielskiej. Cztery lata później wydarzyła się inna tragedia. Na stadionie Hillsborough, 96 fanów Liverpoolu zostało przygniecionych przez inne osoby. Z tego powodu do herbu klubu zostały dodane dwa płomienie. Obydwie katastrofy miały duże znaczenie zarówno dla angielskiej, jak i europejskiej piłki nożnej, przyczyniając się m.in. do zmian przepisów prawa o imprezach masowych oraz podniesienia standardów bezpieczeństwa organizacji spotkań piłkarskich.
</div>

<div>
    Od czasu powstania, Liverpool F.C. rozgrywa swoje mecze domowe na Anfield, choć rozważano przenosiny do sąsiedniego Stanley Park. Pomysł budowy nowego stadionu został jednak zaniechany, gdyż zdecydowano się na rozbudowę dotychczasowego obiektu.
</div>

<div>
    Liverpool ma wielu kibiców na całym świecie. Tradycyjnymi rywalami są Manchester United i Everton.
</div>

<div>
    Drużyna bywa często, szczególnie w Polsce, mylnie określana jako F.C. Liverpool, podczas gdy pełna nazwa drużyny brzmi Liverpool Football Club, a więc Liverpool F.C.
</div>

<div>Liverpool jest klubem o marce globalnej, wycenianym w 2019 na 2,183 mld dolarów przez magazyn Forbes, co plasuje go na ósmym miejscu w światowym rankingu klubów piłkarskich. Przychód za sezon 2018-2019 wyniósł 604,7 mln euro, plasując pod tym względem klub na siódmym miejscu na świecie.</div>
<hr />

<h1><center>HYMN</center></h1>
<div>
    <hr />
        <img src="ynwa.jpg" style="width: 10%;height: 150px; float:left; margin-top:-15px " />
    Hymnem The Reds jest przebój musicalowy Oscara Hammersteina II i Richarda Rogersa noszący nazwę You’ll Never Walk Alone. W latach sześćdziesiątych utwór ten wykonywał rockowy zespół z Liverpoolu – Gerry & the Pacemakers. Obecnie jest on śpiewany przez fanów The Reds w tej właśnie wersji. Na Anfield zaczęto go nucić tuż po owym nagraniu. Na przełomie lat osiemdziesiątych i dziewięćdziesiątych, po tragedii na Hillsborough, stał się oficjalnym hymnem Liverpool FC, a jego tytuł został umieszczony na herbie klubu i nad bramą wejściową Anfield Rd Stand o nazwie: „Shankly Gates”.
    <hr />
</div>

<h1><center>HERB</center></h1>
<hr />
<div>Herb Liverpoolu w swej obecnej postaci powstał w 1999 roku i ma bardzo ciekawą historię oraz symbolikę. Mianowicie jest złożony z kilku elementów, z których każdy ma inne znaczenie, a wszystkie łączy jedno – miasto Liverpool.</div>
<div>Centralny punkt herbu to Liverbird (mityczna istota stworzona w XIII wieku, będąca połączeniem kormorana i orła), uznawany za patrona portu w Liverpoolu. Legenda mówi, że kiedy stwór odleci, miasto przestanie istnieć. Zaadaptowany do herbu klubu przez kibiców ma symbolizować pochodzenie klubu i w specyficzny sposób być także wizytówką miasta.</div>
<div>Drugim elementem herbu Liverpoolu jest fragment Shankly Gate, jednej z bram stadionu Anfield, powstałej 26 sierpnia 1982 roku i poświęconej trenerskiej legendzie klubu – Billowi Shankly’emu. Fragment ten, obok ozdobnych zawijasów zawiera w sobie małą tarczę z Liverbirdem, poniżej której znajdują się dwa szkockie symbole – flaga i oset, będące nawiązaniem do kraju pochodzenia Shankly’ego. Całość kompozycji osadzona jest na podłużnym prostokącie z tytułem hymnu The Reds – You’ll Never Walk Alone.</div>
<div>Ostatnim, ale równie istotnym elementem obecnego herbu Liverpool FC jest wstęga z dwoma płomieniami oraz datą powstania klubu. Płomienie symbolizują tragiczne wydarzenia z 1989 roku, śmierć 96 kibiców klubu podczas tragedii na stadionie Hillsborough w Sheffield.</div>
<div>Połączenie tych elementów dało jeden z najbardziej rozpoznawalnych herbów klubowych na świecie. Jest symbolem drużyny, która od wielu lat zaliczana jest do światowej elity klubów piłki nożnej.</div>
<div><img src="herby.jpg" style="width: 100%;height: 100%; float:left; margin-top:0px " />
</div>
<hr />
<h1><center>STADION</center></h1><hr />
<img src="anfield.jpg" style="width: 740px;height: 416px; float:left; margin-top:0px " />
<div>Od początku swego istnienia klub rozgrywa swoje mecze domowe na tym samym stadionie. Stadion Liverpoolu, Anfield, początkowo o pojemności ok. 20 tys. miejsc, został zbudowany w 1884 roku w pobliżu liverpoolskiego Stanley Park. Jego właścicielem był John Houlding, a przez pierwsze lata istnienia swoje spotkania rozgrywał na nim Everton F.C. Jednak w 1892 roku po sporze z właścicielem stadionu Everton F.C. przeniósł się na pobliski Goodison Park. W tym samym roku mecze na Anfield zaczął rozgrywać nowo powstały klub Liverpool F.C.
    </div>
<div>
    Trybuna The Kop
    W 1906 roku jedna z trybun została ochrzczona mianem The Kop, na cześć wzgórza w południowej Afryce, na którym podczas drugiej wojny burskiej poległ regiment strzelców z Lancashire (ponad 300 osób), spośród których wielu pochodziło z Liverpoolu. Obecnie na trybunie The Kop zasiadają najbardziej zagorzali fani klubu.
</div>
<div>
    Stadion Anfield leży w zabudowanej dzielnicy, co utrudnia jego rozbudowę. Znaczna modyfikacja stadionu miała miejsce w 1992 roku[268] na stulecie Liverpoolu. Wyremontowano wówczas trybunę Centenary. Pojemność stadionu wynosiła ok. 45 tysięcy osób. W porównaniu z obiektami niektórych rywali (np. 75-tysięcznym Old Trafford, czy 60-tysięcznym Emirates Stadium) stadion Liverpoolu nie był wystarczająco duży, by zapewnić miejsce oczekującym kibicom oraz przynosił relatywnie mniejszy zysk z tzw. dnia meczowego.
</div>
<div>
    Z uwagi na trudności związane z powiększeniem stadionu, władze klubu w maju 2002 roku ogłosiły plany budowy Stanley Park Stadium. Stadion miał liczyć od 55 do 60 tysięcy widzów, a jego otwarcie planowano na sierpień 2009 roku. W kolejnych latach budowa była odraczana, by ostatecznie ulec zawieszeniu na czas nieokreślony. Grupa New England Sports Ventures (Fenway Sports Group), która przejęła klub w 2010 roku, zrezygnowała z budowy nowego stadionu na rzecz rozbudowy Anfield. Zakończona w 2016 roku przebudowa głównej trybuny zwiększyła pojemność stadionu do 54 074 miejsc. Planowana rozbudowa trybuny Anfield Road ma zwiększyć pojemność stadionu do ponad 61 tys. miejsc.

    W 2017 roku w uznaniu zasług klubowych trybuna Centenary została oficjalnie nazwana imieniem Kenny’ego Dalglisha.
</div>

<hr />

<span style="float: right">Stronę opracował: Bartosz Gąciarek (nr. albumu 109433)</span>
