@page "/LA"
<div>
    <img src="pucharligi.jpg" style="width: 10%;height: 10%; float:left; margin-top:-40px" />
    <h1><center>PUCHAR LIGI 2021/2022</center></h1>
</div>
    <hr />
    <h3><center>1/16 FINAŁU</center></h3>

    <div>

        Mecz 1/1:
        <center>Norwich<span style="color: green"><b> 0 - 3 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h3><center>1/8 FINAŁU</center></h3>

    <div>

        Mecz 1/1:
        <center>Preston<span style="color: green"><b> 0 - 2 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h3><center>ĆWIERĆFINAŁ</center></h3>

    <div>

        Mecz 1/1:
        <center>Liverpool<span style="color: green"><b> 4 - 3 </b></span>Leicester City</center>
        <hr />
    </div>
    <hr />
    <h3><center>PÓŁFINAŁ</center></h3>
    <div>

        Mecz 1/2:
        <center>Liverpool<span style="color: black"><b> 0 - 0 </b></span>Arsenal Londyn</center>

    </div>
    <div>

        Mecz 2/2:
        <center>Arsenal Londyn<span style="color: green"><b> 0 - 2 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h3><center>FINAŁ</center></h3>

    <div>

        Mecz 1/1:
        <center>Chelsea Londyn<span style="color: green"><b> 0 - 1 </b></span>Liverpool</center>
        <hr />
    </div>
    <hr />
    <h1><marquee direction="left" behavior="alternate">TRIUMFATORZY</marquee></h1><hr />
    @code {

    }
