@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
   
    <div class="main">
        
        <div class="top-row px-4">
            <audio controls>

                <source src="YNWA.mp3" type="audio/mpeg">

            </audio>
            <a href="">Strona Główna</a>
            <img src="Photo1.jpg" style="width: 5%;height: 100%; float:left; margin-top:0px " />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
